<%= form_for @exercise, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :exercise, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :exercise, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :load_prescribed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :load_prescribed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sets, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :sets, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reps, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :reps, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tempo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :tempo, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :set_one_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :set_one_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :set_two_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :set_two_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :set_three_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :set_three_actual, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  exercises_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
