<%= simple_form_for(@exercise) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exercise %>
    <%= f.input :load_prescribed %>
    <%= f.input :sets %>
    <%= f.input :reps %>
    <%= f.input :tempo %>
    <%= f.input :set_one_actual %>
    <%= f.input :set_two_actual %>
    <%= f.input :set_three_actual %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
