<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @exercise.exercise %>
</p>

<p>
  <strong>Load prescribed:</strong>
  <%= @exercise.load_prescribed %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @exercise.sets %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @exercise.reps %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @exercise.tempo %>
</p>

<p>
  <strong>Set one actual:</strong>
  <%= @exercise.set_one_actual %>
</p>

<p>
  <strong>Set two actual:</strong>
  <%= @exercise.set_two_actual %>
</p>

<p>
  <strong>Set three actual:</strong>
  <%= @exercise.set_three_actual %>
</p>

<p>
  <strong>User:</strong>
  <%= @exercise.user %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
